# =================
# Go 相关
# =================
# 编译产物
/bin/
/pkg/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# 构建缓存
*.test
*.out

# go module 缓存文件（可选忽略 go.sum，如果你不想锁依赖版本）
#go.sum

# =================
# 日志 & 临时文件
# =================
*.log
*.tmp
*.swp

# =================
# 系统文件
# =================
.DS_Store
Thumbs.db

# =================
# IDE / 编辑器配置
# =================
.vscode/
.idea/
*.iml

# =================
# 环境配置文件（本地开发用）
# =====
/config/config.yaml

